/* Large devices (desktops, 992px and up) */

.responsive-background-color {
    background-color: lightblue;
    @media (min-width: 992px) {
      background-color: white;
    }
}

.custom-loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #E4E4ED;
  border-right-color: #F47DC8;
  margin: auto;
}

.loader-container {
  display: flex;
  justify-content: top;
  align-items: center;
  height: 70vh; 
}
